---
import BaseHead from "../../libs/blog/BaseHead.astro";
import Footer from "../../libs/shared/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../libs/blog/FormattedDate.astro";
import PageLayoutWithHeader from "../../libs/shared/components/PageLayoutWithHeader/PageLayoutWithHeader";
import PageSection from "../../libs/shared/components/PageSection/PageSection";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"Posts"} description={""} />
    <style lang="scss">
      @import "src/styles/utils";

      .list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
      }

      .item {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        background-color: transparent;
        border-radius: 10px;

        &::after {
          content: "";
          width: 0%;
          height: 1px;
          margin-bottom: -12px;
          background-color: $color-gray03;
        }

        &:hover {
          transition: all 0.8s;

          &::after {
            transition: all 0.8s;
            width: 60%;
          }
        }
      }

      .title {
        font-size: 18px;
        font-weight: 400;
      }

      .date {
        font-size: 14px;
        font-weight: 400;
        color: $color-gray03;
      }
    </style>
  </head>
  <body>
    <PageLayoutWithHeader
      title="Scribbled Notes"
      shouldRenderHeader
      shouldRenderLinks
      client:idle
    >
      <PageSection title="Notes">
        <div class="list">
          {
            posts.map((post) => (
              <a href={`/blog/${post.slug}`} class="item">
                <h4 class="title">{post.data.title}</h4>
                <p class="date">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
            ))
          }
        </div>
      </PageSection>
    </PageLayoutWithHeader>
    <Footer />
  </body>
</html>
