---
interface Props {}

const {} = Astro.props
---

<button type="button" class="button" onclick="history.back();">
  <img src="/icon/arrow-back.svg" alt="back" class="image" />
  <span class="back">back</span>
</button>
<style lang="scss">
  @import 'src/styles/utils';

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
  }

  .button {
    margin-top: 48px;
    height: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    width: fit-content;
    cursor: pointer;

    .back {
      font-size: 14px;
      font-weight: 400;
      text-decoration: underline;
    }
  }
</style>
