// responsive
$device-desktop: 992px;
$section-horizontal-padding: 24px;
$section-max-width: calc($device-desktop - $section-horizontal-padding);
$section-max-content-width: calc($section-max-width - 360px);
$section-header-height: 60px;
$section-content-padding-top: calc($section-header-height * 1.5);
$section-footer-height: 84px;

$color-white: #fff;
$color-black: #000;
$color-gray01-10: #d4d4d41a;
$color-gray01-20: #d4d4d433;
$color-gray01-30: #d4d4d44d;
$color-gray01-50: #d4d4d480;
$color-gray01: #d4d4d4;
$color-gray02: #b4b4b4;
$color-gray03: #909090;
$color-gray04: #636363;
$color-gray05: #494848;
