---
import BaseHead from '../libs/blog/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import PageLayoutWithHeader from '../libs/shared/components/PageLayoutWithHeader/PageLayoutWithHeader'
import PageSection from '../libs/shared/components/PageSection/PageSection'
import BackButton from '../libs/blog/BackButton.astro'

const NOT_FOUND_TEXT = [
  'art has no rules.',
  'perfectly imperfect.',
  'everything can change in just one day.',
  'silence is luxurious.',
  'little things mean a lot.',
  'keep it simple.',
  'less, but better.',
  'the beauty of silence.',
  'art is not what you see.',
  'less is the new more.',
]

const paragraphGenerator = () => NOT_FOUND_TEXT[Math.floor(Math.random() * 10)]
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style lang="scss">
      @import 'src/styles/utils';

      .hero {
        color: $color-gray05;
        font-size: 16px;
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <PageLayoutWithHeader title="yongwoo" client:idle>
      <PageSection disableTitleMarginBottom>
        <div class="hero">
          <span>not found : {`${paragraphGenerator()}`}</span>
          <BackButton />
        </div>
      </PageSection>
    </PageLayoutWithHeader>
  </body>
</html>
