---
import BaseHead from '../libs/blog/BaseHead.astro'
import Introduction from '../libs/about/feature-about-introduction/Introduction'
import PageLayoutWithHeader from '../libs/shared/components/PageLayoutWithHeader/PageLayoutWithHeader'
import PageSection from '../libs/shared/components/PageSection/PageSection'
import BackButton from '../libs/blog/BackButton.astro'

const pageTitle = 'Engineer'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={'About'} description={''} />
  </head>
  <body>
    <PageLayoutWithHeader
      title="yongwoo"
      shouldRenderHeader
      client:idle
      pageTitle={pageTitle}
    >
      <PageSection title={pageTitle}>
        <Introduction />
        <BackButton />
      </PageSection>
    </PageLayoutWithHeader>
  </body>
</html>
