---
import BaseHead from "../components/BaseHead.astro";
import Introduction from "../libs/about/feature-about-introduction/Introduction";
import PageLayoutWithHeader from "../libs/shared/components/PageLayoutWithHeader/PageLayoutWithHeader";
import PageSection from "../libs/shared/components/PageSection/PageSection";

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const baseHref = "/";
const isHome = baseHref === pathname || baseHref === "/" + subpath?.[0];

const pageTitle = "Engineer, Designer, and Simplifier";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"About Me"} description={""} />
  </head>
  <body>
    <PageLayoutWithHeader
      title="Scribbled Notes"
      shouldRenderHeader
      shouldRenderLinks
      client:idle
      pageTitle={pageTitle}
    >
      <PageSection title={pageTitle}>
        <Introduction />
      </PageSection>
    </PageLayoutWithHeader>
  </body>
</html>
