---
interface Props {}

const {} = Astro.props
---

<div class="container">
  <a class="item" target="_blank" href="https://github.com/wooleejaan">
    <img class="image" src="/icon/github.svg" alt="github" />
  </a>
  <a
    class="item"
    target="_blank"
    href="https://www.linkedin.com/in/wooleejaan/"
  >
    <img class="image" src="/icon/linkedin.svg" alt="linkedin" />
  </a>
  <a
    class="item"
    target="_blank"
    href="https://github.com/wooleejaan/dev-notes"
  >
    <img class="image" src="/icon/notes.svg" alt="notes" />
  </a>
</div>
<style lang="scss">
  @import 'src/styles/utils';

  .container {
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  .item {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 16px;
    height: 16px;
  }
</style>
