---
interface Props {}

const {} = Astro.props
---

<div class="hero">
  <span>
    Hi, I'm{' '}
    <a
      href="https://github.com/wooleejaan/dev-notes"
      target="_blank"
      class="link"
    >
      Yongwoo,</a
    >
    a software engineer based in Seoul, South Korea. I'm currently developing{
      ' '
    }
    <a href="https://www.prix.im/" target="_blank" class="link">
      Prix{' '}
    </a>
    full-time. Here, I write about things I learn and find interesting. <a
      class="link"
      href="/about">(...more)</a
    >
  </span>
</div>
<style lang="scss">
  @import 'src/styles/utils';

  .hero {
    color: $color-gray04 !important;

    & .link {
      text-decoration: underline;

      &:hover {
        color: $color-gray03 !important;
      }
    }
  }
</style>
